  body {
      background-color: #FFF8E8;
      color: #674636;
      margin: 0;
      padding: 20px;
  }

  h1 {
      color: #1b100a;
      text-align: left;
      font-size: 50px;
      margin-left: 30px;

  }

  p {
      font-size: 20px;
  }

  h2 {
      color: #3E3F5B;
      font-size: 30px;
  }


  img {
      margin: 20px;
      border-radius: 10px;
  }

  ol li {
      font-size: 20px;
      margin-bottom: 15px;
  }

  .website {
      text-decoration: none;
      padding: 10px 20px;
      border-radius: 10px;
      background-color: #f9da4e;
      color: #674636;
  }