  @import url('https://fonts.googleapis.com/css2?family=Geomini:wght@200..800&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body {
      font-family: "Geomini", sans-serif;
      background-color: blue;
  }

  .container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 120px 20px;
  }

  .image-box {
      position: relative;
      width: 550px;
  }


  .image-box img {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 10px;
  }

  .top-card {
      position: absolute;
      top: 30px;
      right: -90px;
      width: 250px;
      background: white;
      padding: 18px 22px;
      border-radius: 10px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  }

  .top-card h2 {
      font-size: 32px;
      color: #222;
      text-align: left;
      font-family: "Geomini", sans-serif;
  }

  .percentage {
      display: flex;
      align-items: center;
      gap: 10px;
  }

  .percentage h2 {
      font-size: 32px;
      color: #222;
  }

  .arrow-icon {
      width: 28px;
      height: 28px;
      background: #D8FF00;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      color: #111;
  }

  .top-card p {
      margin-top: 10px;
      font-size: 13px;
      color: #666;
      text-align: left;
  }


  .bar {
      margin: 10px 0 0;
      width: 80%;
      height: 6px;
      background: #ffff;
      border-radius: 20px;
  }


  .bar span {
      display: block;
      width: 87%;
      height: 100%;
      background: #D8FF00;
      border-radius: 20px;
  }


  .bottom-card {
      position: absolute;
      left: -80px;
      top: 300px;
      width: 300px;
      background: #D8FF00;
      padding: 30px;
      border-radius: 6px;
  }


  .bottom-card h1 {
      font-size: 54px;
      color: #111;
      font-family: "Geomini", sans-serif;

  }


  .bottom-card hr {
      margin: 18px 0;
      border: none;
      height: 1px;
      background: #222;

  }


  .bottom-card p {
      font-size: 14px;
      color: #111;
      font-family: "Geomini", sans-serif;

  }

  @media (max-width: 1080px) {
      .container {
          padding: 100px 20px;
      }


      .image-box {
          width: 500px;
      }


      .top-card {
          right: -60px;
      }


      .bottom-card {
          left: -50px;
          width: 250px;
      }

  }

  @media (max-width:500px) {

      .container {
          padding: 80px 20px;
      }


      .image-box {
          width: 90%;
      }


      .top-card {
          right: -40px;
          width: 200px;
      }


      .bottom-card {
          left: -30px;
          top: 260px;
          width: 10px;
      }

  }